@font-face {
    font-family: 'stellar-light';
    src: url('../fonts/stellar-light/stellar-light-webfont.eot');
    src: url('../fonts/stellar-light/stellar-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/stellar-light/stellar-light-webfont.woff') format('woff'),
    url('../fonts/stellar-light/stellar-light-webfont.ttf') format('truetype'),
    url('../fonts/stellar-light/stellar-light-webfont.svg#stellar-light') format('svg');
}

@font-face {
    font-family: 'stellar-regular';
    src: url('../fonts/stellar-regular/stellar-medium-webfont.eot');
    src: url('../fonts/stellar-regular/stellar-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/stellar-regular/stellar-medium-webfont.woff') format('woff'),
    url('../fonts/stellar-regular/stellar-medium-webfont.ttf') format('truetype'),
    url('../fonts/stellar-regular/stellar-medium-webfont.svg#stellar-regular') format('svg');
}

body{
    background-image: linear-gradient( -165deg, #00e9b8, #3694fe);
    background-repeat: no-repeat;
}

.homepage{
    width: 100%;
    height: 100vh;
}

.bloc_gauche{
    width: 10%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    border-right: #5073f5 solid 2px;
    text-align: center;
}

.lien-profil{
    text-decoration: none;
    font-family: 'stellar-regular', Arial;
    font-size: 15px;
    color: #7992f9;
}

.img-profil{
    width: 40px;
    margin-top: 25px;
}

.bloc_centrage{
    position: relative;
    width: 80%;
    height: 100vh;
    margin: auto;
}

.bloc_droite{
    width: 9.8%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    border-left: #5073f5 solid 2px;

}

header{
    height: 90px;
}

header nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'stellar-regular', Arial;
    font-size: 16px;
    outline: none;
    text-transform: uppercase;
    margin-right: 65px;
}

header nav li{
    display: inline-block;
    margin-left: 20px;
}

header nav{
    position: absolute;
    right: 35px;
    top: 35px;
}

.container{
    background: url('../img/bg.svg') no-repeat;
    background-size: cover;
    height: 81vh;
    border-radius: 3%;
}

.formulaire{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: TranslateX(-50%) TranslateY(-50%);
    width: 300px;
    height: 600px;
    border-radius: 5%;
    display: block;
    background-image: linear-gradient( -165deg, #00e9b8, #3694fe);
}

.formulaireLogin{
    height: 400px;
    display: none;
}

.formulaireRegister{
    display: none;
}

.formulaire form{
    margin-top: 101px;
}

.blocInput{
    width: 100%;
    -moz-box-shadow: 0px 0px 3px 0px #656565;
    -webkit-box-shadow: 0px 0px 3px 0px #656565;
    -o-box-shadow: 0px 0px 3px 0px #656565;
    box-shadow: 0px 0px 3px 0px #656565;
    height: 55px;
}

.formulaire label{
    background: rgba(0, 233, 184, 0.0);
    float: left;
    border: none;
    outline: none;
    height: 96%;
    padding: 14px;
    width: 50%;
    box-sizing: border-box;
}

.champtext{
    background: rgba(0, 233, 184, 0.0);
    float: right;
    border: none;
    outline: none;
    height: 91%;
    width: 50%;
}

.champtext:active{
    background: #32a3fa;
}

.champtext:focus{
    background: #32a3fa;
}

.btn-submit {
    width: 50%;
    /* text-align: center; */
    margin-top: 15px;
    margin-left: 73px;
    -moz-box-shadow: 0px -3px 5px 0px #656565;
    /* -webkit-box-shadow: 0px -3px 5px 0px #656565; */
    -o-box-shadow: 0px -3px 5px 0px #656565;
    /* box-shadow: 0px -3px 5px 0px #656565; */
    background: #32a3fa;
    border: 1px solid;
    height: 55px;
}

.newAccount{
    text-decoration: none;
    color: #ffffff;
    margin: auto;
    display: block;
    width: 137.8px;
    margin-top: 20px;
}

/*.blocUpload{*/

/*}*/

.uploadSing{
    width: 340px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 37%;
    transform: TranslateY(-50%) TranslateX(-50%);
    background: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-submit-upload{
    position: absolute;
    top: 70%;
    left: 37%;
    transform: TranslateY(-50%) TranslateX(-50%);
    border: none;
    width: 340px;
    height: 60px;
    z-index: 2;
}

.uploadSing p{
    color: #0e608a;
    font-size: 20px;
    /*font-weight: bold;*/
    font-family: 'stellar-regular', Arial;
    margin-top: 15px;
}

.inputFile{
    width: 340px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 37%;
    transform: TranslateY(-50%) TranslateX(-50%);
    z-index: 1;
    opacity: 0.0;
}

.bloc_camera{
    width: 340px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 62%;
    transform: TranslateY(-50%) TranslateX(-50%);
    background: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloc_camera p{
    color: #0e608a;
    font-size: 20px;
    /*font-weight: bold;*/
    font-family: 'stellar-regular', Arial;
}

.webcam{
    width: 900px;
    height: 700px;
    background: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: TranslateY(-50%) TranslateX(-50%);
    z-index: 3;
    display: none;
}

.closeWebcam{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Arial';
}

.bloc_shot ul{
    width: 1290px;
    margin: auto;
}

.bloc_shot li{
    float: left;
    margin-right: 30px;
}

.center_bloc{
    width: 1500px;
    height: 100vh;
    margin: auto;
}

.bloc_shot a{
    display: inline-block;
}

.bloc_video_post{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: TranslateY(-50%) TranslateX(-50%);
    text-align: center;
}

.bloc_video_post video{
    margin-bottom: 30px;
}

.devine{
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    outline: none;
}

.btn-submit-devine{
    width: 100px;
    height: 52px;
    padding: 10px;
    background: #0e608a;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'stellar-regular';
}

.btn-like-dislike{
    width: 70px;
    height: 70px;
    background: #0e608a;
    border: none;
    margin-top: 30px;
    margin-left: 30px;
}

.ad{
    margin-left: 0;
}

.uploadFilechamp{
    visibility: hidden;
}

.btn-guess-music{
    position: absolute;
    top: 60.1%;
    left: 37%;
    transform: TranslateY(-50%) TranslateX(-50%);
    border: none;
    width: 340px;
    height: 60px;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
}

.btn-guess-musicWebcam{
    position: absolute;
    top: 107.1%;
    left: 50%;
    transform: TranslateY(-50%) TranslateX(-50%);
    border: none;
    width: 340px;
    height: 60px;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
}
