@font-face {
    font-family: 'stellar-light';
    src: url('../fonts/stellar-light/stellar-light-webfont.eot');
    src: url('../fonts/stellar-light/stellar-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/stellar-light/stellar-light-webfont.woff') format('woff'),
    url('../fonts/stellar-light/stellar-light-webfont.ttf') format('truetype'),
    url('../fonts/stellar-light/stellar-light-webfont.svg#stellar-light') format('svg');
}

@font-face {
    font-family: 'stellar-regular';
    src: url('../fonts/stellar-regular/stellar-medium-webfont.eot');
    src: url('../fonts/stellar-regular/stellar-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/stellar-regular/stellar-medium-webfont.woff') format('woff'),
    url('../fonts/stellar-regular/stellar-medium-webfont.ttf') format('truetype'),
    url('../fonts/stellar-regular/stellar-medium-webfont.svg#stellar-regular') format('svg');
}

body{
    /*background-image: linear-gradient( -165deg, #00e9b8, #3694fe);*/
    background: #FFFFFF;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

.homepage{
    width: 100%;
    height: 100vh;
}

.bloc_gauche{
    width: 10%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    border-right: #5073f5 solid 5px;
    z-index: 3;
    text-align: center;
}

.lien-profil{
    text-decoration: none;
    font-family: 'stellar-regular', Arial;
    font-size: 15px;
    color: #7992f9;
}

.img-profil{
    width: 40px;
    margin-top: 25px;
}

.bloc_centrage{
    position: relative;
    width: 80%;
    height: 100vh;
    margin: auto;
}

.bloc_droite{
    width: 9.8%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    border-left: #5073f5 solid 7px;

}

header{
    height: 90px;
}

h1{
    width: 70px;
    position: relative;
    top: 10px;
    left: 30px;
}

header nav a {
    text-decoration: none;
    color: #5073f5;
    font-family: 'stellar-regular', Arial;
    font-size: 16px;
    outline: none;
    text-transform: uppercase;
    margin-right: 65px;
}

header nav a:hover{
    opacity: 0.6;
}

header nav li{
    display: inline-block;
    margin-left: 20px;
}

header nav{
    position: absolute;
    right: 35px;
    top: 35px;
}

.container{
    background: url('../img/bg.svg') no-repeat;
    background-size: cover;
    height: 81vh;
    border-radius: 3%;
}

.formulaire{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: TranslateX(-50%) TranslateY(-50%);
    width: 300px;
    height: 600px;
    border-radius: 5%;
    display: block;
    z-index: 3;
    background-image: linear-gradient( -165deg, #00e9b8, #3694fe);
}

.formulaireLogin{
    height: 400px;
    display: none;
}

.formulaireRegister{
    display: none;
}

.formulaire form{
    margin-top: 101px;
}

.blocInput{
    width: 100%;
    -moz-box-shadow: 0px 0px 3px 0px #656565;
    -webkit-box-shadow: 0px 0px 3px 0px #656565;
    -o-box-shadow: 0px 0px 3px 0px #656565;
    box-shadow: 0px 0px 3px 0px #656565;
    height: 55px;
}

.formulaire label{
    background: rgba(0, 233, 184, 0.0);
    float: left;
    border: none;
    outline: none;
    height: 96%;
    padding: 14px;
    width: 50%;
    box-sizing: border-box;
}

.champtext{
    background: rgba(0, 233, 184, 0.0);
    float: right;
    border: none;
    outline: none;
    height: 91%;
    width: 50%;
}

.champtext:active{
    background: #32a3fa;
}

.champtext:focus{
    background: #32a3fa;
}

.btn-submit {
    width: 50%;
    /* text-align: center; */
    margin-top: 15px;
    margin-left: 73px;
    -moz-box-shadow: 0px -3px 5px 0px #656565;
    /* -webkit-box-shadow: 0px -3px 5px 0px #656565; */
    -o-box-shadow: 0px -3px 5px 0px #656565;
    /* box-shadow: 0px -3px 5px 0px #656565; */
    background: #32a3fa;
    border: 1px solid;
    height: 55px;
}

.newAccount{
    text-decoration: none;
    color: #ffffff;
    margin: auto;
    display: block;
    width: 137.8px;
    margin-top: 20px;
}

.uploadSing{
    width: 340px;
    height: 250px;
    position: absolute;
    border-radius: 15px;

    top: 50%;
    left: 37%;
    transform: TranslateY(-50%) TranslateX(-50%);
    background: #5174f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-submit-upload{
    position: absolute;
    top: 70%;
    left: 37%;
    transform: TranslateY(-50%) TranslateX(-50%);
    border: none;
    width: 340px;
    height: 60px;
    z-index: 2;
    border-radius: 15px;
    font-family: 'stellar-regular', Arial;
    font-size: 20px;
    color: #5174f4;
}

.uploadSing p{
    color: #FFFFFF;
    font-size: 20px;
    /*font-weight: bold;*/
    font-family: 'stellar-regular', Arial;
    margin-top: 15px;
}

.inputFile{
    width: 340px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 37%;
    transform: TranslateY(-50%) TranslateX(-50%);
    z-index: 1;
    opacity: 0.0;
}

.bloc_camera{
    width: 340px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 63%;
    border-radius: 15px;
    transform: TranslateY(-50%) TranslateX(-50%);
    background: #5174f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloc_camera p{
    color: #FFFFFF;
    font-size: 20px;
    /*font-weight: bold;*/
    font-family: 'stellar-regular', Arial;
}

.webcam{
    width: 900px;
    height: 700px;
    background: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: TranslateY(-50%) TranslateX(-50%);
    z-index: 3;
    display: none;
}

.closeWebcam{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Arial';
}

.bloc_shot ul{
    width: 1290px;
    margin: auto;
}

.bloc_shot li{
    float: left;
    margin-right: 30px;
}

.center_bloc{
    width: 1500px;
    height: 100vh;
    margin: auto;
}

.bloc_shot a{
    display: inline-block;
}

.bloc_video_post{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: TranslateY(-50%) TranslateX(-50%);
    text-align: center;
}

.bloc_video_post video{
    margin-bottom: 30px;
}

.devine{
    width: 300px;
    height: 30px;
    padding: 10px;
    border: #5072f5 solid 2px;
    outline: none;
}

.like-count {
    display: inline-block;
    margin-left: 20px;
    font-family: 'stellar-regular', Arial;
    font-size: 25px;
    margin-bottom: 30px;
    color: #5174f4;

}
.btn-submit-devine{
    width: 150px;
    height: 52px;
    margin-left: 15px;
    padding: 10px;
    background: #ff3557;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'stellar-regular';
}

.btn-like-dislike{
    width: 120px;
    height: 50px;
    color: #ffffff;
    border-radius: 10px;
    background: #ff3557;
    border: none;
    margin-top: 30px;
    margin-left: 30px;
}

.ad{
    margin-left: 0;
}

.uploadFilechamp{
    visibility: hidden;
}

.btn-guess-music{
    position: absolute;
    top: 60.1%;
    left: 37%;
    transform: TranslateY(-50%) TranslateX(-50%);
    width: 340px;
    height: 60px;
    z-index: 2;
    border: 1px solid gray;
    padding: 20px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    border-bottom-left-radius: 15px;
}

.or{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: TranslateY(-50%) TranslateX(-50%);
    text-transform: uppercase;
    font-size: 30px;
    color: #5174f4;
    font-family: 'stellar-regular';

}

.btn-guess-musicWebcam{
    position: absolute;
    top: 107.1%;
    left: 50%;
    transform: TranslateY(-50%) TranslateX(-50%);
    width: 340px;
    height: 60px;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
}

/** Home-title **/
.start-screen h2 {
    font-size: 35px;
    font-family: 'stellar-regular', Arial;
}
.start-screen {
    display: flex;
    justify-content: center;
    flex-flow: nowrap column;
    align-items: center;
    /* min-height: 100vh;*/
}
.loading {
    display: flex;
    margin: 24px 0;
}
.loading__element {
    font: normal 100 2rem/1;
    letter-spacing: 1.5em;
}
[class*="el"] {
    animation: bouncing 3s infinite ease;
}

@for $i from 1 through 9 {
$delay: percentage($i);
    .el#{$i} {
        animation-delay: $delay / 1000% + s;
    }
}

@keyframes bouncing {
    0%, 100% {
        transform: scale3d(1,1,1);
    }
    50% {
        transform: scale3d( 0,0,1);
    }
}

.verticaly-align {
    position : relative;
    top: 35%;
    text-align: center;
}

p.home-line{
    width: 100%;
    border-top: 5px solid #5073f5;
}

.call-upload{
    border: 2px solid #5174f4;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #5174f4;
    padding: 11px;
    padding-left: 45px;
    padding-right: 45px;
}

.menu-responsive{
    display: none;
}

@media (max-width: 1101px) {
    nav{
        display: none;
    }

    .menu-responsive{
        width: 24px;
        display: block;
        position: absolute;
        right: 55px;
        top: 41px;
    }
}

@media (max-width: 1865px){
    .video-top{
        width: 400px;
    }
}

@media (max-width: 1844px) {
    .bloc_camera{
        left: 67%;
    }

    .inputFile{
        left: 33%;
    }

    .uploadSing{
        left: 33%;
    }

    .btn-guess-music{
        left: 33%;
        top: 62%
    }

    .btn-submit-upload{
        left: 33%;
    }
}

@media (max-width: 1433px) {
    .bloc_camera{
        left: 77%;
    }

    .inputFile{
        left: 23%;
    }

    .uploadSing{
        left: 23%;
    }

    .btn-guess-music{
        left: 23%;
        top: 62%
    }

    .btn-submit-upload{
        left: 23%;
    }
}

@media (max-width: 970px) {
    .bloc_camera{
        left: 50%;
        top: 75%;
    }

    .inputFile{
        left: 50%;
        top: 28%;
    }

    .uploadSing{
        left: 50%;
        top: 28%;
    }

    .or{
        top: 56%;
    }

    .btn-guess-music{
        left: 50%;
        top: 40%
    }

    .btn-submit-upload{
        left: 50%;
        top: 49%;
    }
}

@media (max-width: 1837px){
    .video-top{
        width: 389px;
    }
}

@media (max-width: 1799px) {
    .video-top{
        width: 21vw;
    }
}

@media (max-width: 1392px){
    .video-top{
        width: 31.3vw;
    }

@media (max-width: 1278px){
    .video-top{
        width: 31.3vw;
    }

    .bloc_shot li:nth-child(3){
        clear: both;
    }

    .bloc_shot li:nth-child(5){
        clear: both;
    }

    .bloc_shot li:nth-child(7){
        clear: both;
    }
}

@media (max-width: 1278px){
    .video-top{
        width: 30.2vw;
    }
}

@media (max-width: 1024px){
    .video-top{
        width: 28.5vw;
    }
}

@media (max-width: 967px){
    .video-top{
        width: 28.1vw;
    }
}

@media (max-width: 955px){
    .video-top{
        width: 57.3vw;
    }

    .bloc_shot li{
        clear: both;
    }
}

@media (max-width: 809px){
    .video-top{
        width: 55.2vw;
    }
}